<h1>Edit</h1>


<form method="POST" action="/edit/{{this.id}}">
    <input type='text' name="editname" placeholder="edit name" />
    <input type='text' name="editAge" placeholder="edit age" />
    <button type="submit">edit</button>
</form>